<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>

<body style="background-color: #ad1d40;display: flex;justify-content: center;align-items: center;height: 90vh;">
  <div>
    <h1 style="text-align: center;color: black;font-size: 150px;margin: 0;">404</h1>
    <p style="text-align: center;color: black;margin: 0;font-size: 60px;">Page Not Found</p>
  </div>
</body>

</html>